* {
  box-sizing: border-box;
}

body {
  background: url(https://images.pexels.com/photos/88476/pexels-photo-88476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(20, 250, 180, 0.65);
  width: 600px;
  height: 300px;
  border-radius: 20px;
  transition: all 0.5s;
}

.write-click input {
  width: 30em;
  height: 3em;
}

@media(max-width: 800px){

  .App{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(20, 250, 180, 0.65);
    width: 20em;
    height: 32em;
    border-radius: 20px;
    transition: all 0.5s;
  }

  .write-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
    padding: 10px;
    text-align: center;
  }

  .write-click input {
    width: 20em;
    height: 3em;
  }

  .write-click button {
    width: 90px;
  }
}

.App:hover{
  box-shadow: 4px 4px 15px 0px rgb(218, 174, 31);
  transform: scale(1.02);
}

@media(max-width: 400px){
  .App {
    width: 18em;
  }
}

#link-return-principal {
  color: rgb(124, 124, 69);
  font-size: 20px;
}